:root {
    --main-bg-color: #3b7b58;
    --dark-gray-color: #4c4c4c;
    --light-green-color: #d8e5de;
    --light-gray-color: #ebebeb;
    --hover-green-color: #4fa476;
}

@font-face {
    font-family: dolceVita;
    src: url(font/Dolce\ Vita.ttf);
}

.table-title-jpn,
.table-row-wrap,
#contact-form-message-wrap,
#contact-main-container,
#contact-call-container,
#contact-btn-tosend, .table-wrap, #serchYears-wrap, select, #jumpToYear-btn, .recruit-jump-icons-circle-title-jpn, .section-title-jpn, .job-list-wrap, .gigyonaiyo-first-section-wrap>.paragragh-wrap p, .construction-card-content-title, .construction-card-content-note, #section-title-year, #noteforscrollcircle, .gigyonaiyo-recruit-link-btn, .worker-info-jpn, .worker-info-jpn-sub, .worker-comment-wrap p, .making-rc-note, .contact-form-input input, .recycle-guide-item .detail-explanation, #forusersforrecycleplant, .recycle-business-hour-table, #noteforplantusers, .comingsoon, .num-guide .num, .num-guide .guide-explanation, .path-links-jp {
    font-family: toppan-bunkyu-midashi-min-st, serif;
    font-weight: 900;
    font-style: normal;
}

#footer-shozaichi, .text-gettingready {
    font-family: 'Kosugi Maru', sans-serif;
    /* font-family: fot-seurat-pron, sans-serif; */
    font-weight: 600;
    font-style: normal;
}


#phone-num-wrap a, .contact-call-num-p, .bar-circle-jpn, .making-rc-title {
    font-family: ta-marugo-gf-02, sans-serif;
    font-weight: 500;
    font-style: normal;
}



.main-context-container {
    width: 85vw;
    height: max-content;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

#overview-top-img {
    background-image: url(./img/office-white.jpg);
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
}

.subpage-title-wrap {
    display: flex;
    flex-direction: column;
    padding: 40px;

}

.subpage-title-wrap-eng {
    display: flex;
    flex-direction: row;
    font-family: dolceVita;
    font-size: 5em;
    line-height: 60px;
    font-weight: 700;
}

#table-title-eng-space {
    margin-left: -10px;
}

.subpage-title-wrap-eng p:first-of-type,
.subpage-title-wrap-eng p:nth-child(3),
.subpage-title-wrap-eng p:nth-child(4),
.subpage-title-wrap-eng p:nth-child(5) {
    color: var(--dark-gray-color);
}

.green-text {
    color: var(--main-bg-color);
}

#title-jpn-overview {
    font-size: 1.5em;
    color: var(--dark-gray-color);
    margin-top: .5%;
}

#overview-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.overview-table-title {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 3px solid var(--dark-gray-color);
}

.table-title-eng-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.table-title-jpn {
    padding-left: 2em;
    font-size: 1.2em;
}

.comingsoon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* overview main */
.overview-table-main-wrap {
    width: 80%;
    font-size: 1em;
}

#table-firstrow-wrap {
    padding-top: 1.8em;
}

.table-row-wrap {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    padding: .9em 0;
    font-size: 1.2em;
    border-bottom: 1px solid var(--dark-gray-color);
    width: 100%;
}

.table-item-name {
    width: 30%;
}

#website-link {
    color: var(--dark-gray-color);
}

#table-row-wrap-last {
    border-bottom: none;
}

.table-col-item-name-wrap {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.adress-col-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#overview-access-wrap {
    padding-top: 100px;
}

#note-office-wrap {
    font-size: .7em;
    display: flex;
    flex-direction: row;
}

iframe {
    width: 70%;
    height: 500px;
    margin-top: 60px;
    margin-left: 30%;
}

#note-office-right {
    display: none;
}

#note-office-wrap-left {
    font-size: .7em;
}

@media (max-width: 990px) {
    iframe {
        height: 200px;
    }
}


@media (max-width: 790px) {
    .subpage-title-wrap-eng {
        font-size: 4em;
    }

    iframe {
        height: 150px;
        width: 100%;
        margin-left: 0%;
    }
}

@media (max-width: 900px) {
    .main-context-container {
        width: 100vw;
        margin-top: 8vh;
    }

    iframe {
        height: 150px;

    }
}

@media (max-width: 680px) {
    .overvirew-longtext {
        font-size: .9em;
    }
}

@media (max-width: 580px) {
    .overview-table-main-wrap {
        width: 85%;
        font-size: 1em;
    }

    .table-row-wrap {
        padding: .9em 0;
        font-size: .8em;
    }

    #overview-wrap {
        padding-top: 30px;
    }

    #title-jpn-overview {
        font-size: .8em;
    }

    .table-title-eng-wrap {
        font-size: 1.5em;
    }

    .table-title-jpn {
        font-size: .6em;
    }

    .table-item-name {
        width: 35%;
    }

    .table-col-item-name-wrap {
        width: 35%;

    }

    .adress-col-wrap {
        display: flex;
        flex-direction: column;
    }

    iframe {
        height: 150px;
        width: 100%;
    }

}

@media (max-width: 490px) {
    .subpage-title-wrap-eng {
        font-size: 3em;
    }

    .table-row-wrap {
        padding: .9em 0;
        font-size: .8em;
    }

    iframe {
        height: 150px;
        width: 100%;
        margin-left: 0;
    }

}

@media (max-width: 461px) {
    #note-office-wrap {
        font-size: .5em;
        flex-direction: column;
    }

}

@media (max-width: 390px) {
    .subpage-title-wrap {

        padding: 10px;
    }

    .table-row-wrap {
        font-size: .7em;
    }

    .subpage-title-wrap-eng {
        font-size: 2.5em;
    }

    #table-title-eng-space {
        margin-left: -5px;
    }

    .table-item-name {
        width: 30%;
    }

    .table-col-item-name-wrap {
        width: 30%;
    }

    #note-office-wrap-left {
        display: none;
    }

    #note-office-right {
        display: block;
    }
}

/* history */
.path-links-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;
}

.path-links-wrap a {
    color: var(--dark-gray-color);
    padding: .2em .5em;
    font-size: 1.2em;
}

.path-links-en {
    font-family: dolceVita;
}

.main-context-container {
    box-shadow: -2px -2px 7px -1px #4c4c4c4a;
}

#history-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#history-title-wrap {
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    z-index: 2;
}

.bg-imgs {
    height: 150px;
    position: absolute;
}

#bg-takayamagumi-logo {
    position: absolute;
    top: 5%;
    height: 200px;
}

#umbo {
    top: 30%;
    right: 0%;
    height: 100px;
}

#bulldorzer {
    top: 45%;
    right: 0%;
    height: 120px;
}

#dampcar {
    top: 60%;
    height: 120px;
}

#history-main-bar {
    background-color: var(--light-green-color);
    width: 50px;
    height: 60%;
    top: 15%;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.history-item-row-wrap {
    display: flex;
    flex-direction: row;
    z-index: 2;
}


.history-img {
    margin: auto;
    width: 60%;
    height: 150px;
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-position: center;
}


.history-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    height: 180px;
    width: 100%;
}

#history-item-top {
    align-items: flex-start;
}

#history-item-center {
    align-items: center;
}

#history-item-bottom {
    align-items: flex-end;
}


.history-item-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#history-item-content-left {
    justify-content: end;
}

.item-line {
    background-color: var(--main-bg-color);
    width: 80px;
    height: 3px;
    margin: 0 10px;
    margin-top: 1.2em;
}



.month-item-wrap {
    display: flex;
    flex-direction: column;
    font-family: dolceVita;
    font-size: .9em;
}


#month-item-wrap-left {
    padding-right: 2em;
}

#month-item-wrap-left>.item-month {
    margin-left: auto;
}

.item-month {
    line-height: 1em;
    font-size: 1.8em;
    width: max-content;
}



#content-left {
    margin-left: auto;
}

.item-year {
    font-size: 3.8em;
    font-family: dolceVita;
    line-height: .8em;
}

.history-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}


#history-img-left1 {
    background-image: url(./img/dumpcar-blackandwhite.jpg);
    justify-content: center;
    z-index: 2;
}

#history-img-right1 {
    background-image: url(./img/oldoffice.jpg);
    justify-content: center;
    z-index: 2;
}

#history-img-left2 {
    background-image: url(./img/oldunbo.jpg);
    justify-content: center;
    z-index: 2;
}

#history-img-right2 {
    background-image: url(./img/office.jpg);
    background-position: left;
    justify-content: center;
    z-index: 2;
}

.monthes-wrap {
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    /* padding-top   : 1.5em; */
}

.monthes-wrap>.month-item-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}


#history-list-left>.month-item-wrap,
#history-list-left>.monthes-wrap {
    padding-right: 2em;
    align-items: flex-end;
    width: 100%;
}

#history-list-right>.month-item-wrap {
    padding-left: 2em;
}

#month-item-right {
    padding-left: 2em;
}

#wrap-text-right {
    display: flex;
    align-items: flex-end;
}

.wrap-text {
    display: flex;
    flex-direction: row;
}

.wrap-item-reverse {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.wrap-item-no-reverse {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


@media (max-width: 1180px) {
    .wrap-text {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    #history-title-wrap {
        margin: 50px 0;
    }

    #bg-takayamagumi-logo {
        height: 150px;
    }

    .month-item-wrap {
        font-size: .7em;
    }

    #history-title-wrap-eng {
        font-size: 3em;
    }

    .item-line {
        width: 60px;
        height: 3px;
        margin: 0 6px;
        margin-top: 1.2em;
    }
}

@media (max-width: 970px) {
    .month-item-wrap {
        font-size: .7em;
    }

    .monthes-wrap {
        padding-right: 1em;
    }

    .history-item {
        height: 150px;
    }

    .history-img {
        width: 80%;
        height: 130px;
    }

}

@media (max-width: 950px) {

    .wrap-text,
    #wrap-text-right {
        flex-direction: column;
    }

    .month-item-wrap {
        font-size: .7em;
    }
}

@media (max-width: 850px) {

    .monthes-wrap,
    #month-item-wrap-left {
        padding-right: .7em;
    }

    #month-item-right {
        padding-left: .7em;
    }

    .item-line {
        margin-top: 1em;
    }

    .item-year {
        font-size: 3em;
    }
}

@media (max-width: 770px) {
    .month-item-wrap {
        font-size: .5em;
    }

    .history-img {
        width: 60%;
        height: 120px;
        /* margin: 1em 0; */
    }

    .item-year {
        font-size: 2.5em;
    }


    .history-item {
        height: 140px;
    }

    #bg-takayamagumi-logo {
        height: 120px;
    }

    #umbo {
        height: 70px;
    }

    #bulldorzer {
        height: 80px;
    }

    #dampcar {
        height: 80px;
    }

    #history-main-bar {
        width: 40px;
        height: 55%;
        top: 15%;
        position: absolute;
        z-index: 1;
    }

}

@media (max-width: 750px) {
    #history-main-bar {
        height: 50%;
        top: 10%;
    }

    #umbo {
        top: 15%;
    }

    #bulldorzer {
        top: 30%;
    }

    #dampcar {
        top: 40%;
    }

    .month-item-wrap {
        font-size: 1em;
    }

    .history-img {
        width: 60%;
        height: 120px;
    }

    .item-year {
        font-size: 3.5em;
    }

    .history-item {
        height: 170px;
    }

}

@media (max-width: 715px) {
    .month-item-wrap {
        font-size: .9em;
    }

    .item-year {
        font-size: 3em;
    }

    .history-img {
        width: 100%;
        height: 120px;
    }
}

@media (max-width: 660px) {
    .history-img {
        width: 70%;
        height: 140px;
    }

    .month-item-wrap {
        font-size: 1em;
    }

    .item-year {
        font-size: 4em;
    }

    .wrap-item-reverse {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .wrap-item-no-reverse {
        flex-direction: column;
    }

    .history-item {
        height: 200px;
    }

    #month-item-left,
    #month-item-wrap-left {
        padding-right: 3em;
    }

    #month-item-right {
        padding-left: 3em;
    }
}

@media (max-width: 625px) {
    .month-item-wrap {
        font-size: .9em;
    }

}

@media (max-width: 580px) {

    #month-item-left,
    #month-item-wrap-left {
        padding-right: 1.5em;
    }

    #month-item-right {
        padding-left: 2.5em;
    }

    .item-line {
        width: 50px;
        height: 3px;
    }

    .history-img {
        width: 70%;
        height: 130px;
    }
}

@media (max-width: 520px) {
    .history-item {
        height: 190px;
    }

    .history-img {
        width: 70%;
        height: 100px;
    }

    #month-item-left,
    #month-item-wrap-left {
        padding-right: 1em;
    }

    #month-item-right {
        padding-left: 2em;
    }
}

@media (max-width: 500px) {

    #month-item-left,
    #month-item-wrap-left {
        padding-right: 0em;
    }

    #month-item-right {
        padding-left: 1em;
    }
}

@media (max-width: 470px) {
    .item-year {
        font-size: 3em;
    }

    .month-item-wrap {
        font-size: .8em;
    }

    .item-line {
        width: 40px;
    }

    .monthes-wrap {
        padding-right: 0;
    }

    .history-item {
        height: 180px;
    }

    #month-item-right {
        padding-left: 0em;
    }

    #history-main-bar {
        height: 48%;
        top: 10%;
    }
}

@media (max-width: 395px) {
    .history-img {
        width: 70%;
        height: 80px;
    }

    .history-item {
        height: 160px;
    }

    .item-line {
        width: 40px;
    }

    .month-item-wrap {
        font-size: .7em;
    }

    #history-title-wrap-eng {
        font-size: 2.5em;
    }
}

/* contact */
#contact-main-context-container {
    display: flex;
    flex-direction: column;

}

#contact-title-wrap {
    align-items: center;
}

#contact-title-wrap-eng {
    font-size: 6em;
}

#contact-form-message-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}

#contact-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form-wrap {
    background-color: var(--light-green-color);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;

}

#contact-form-wrap>p {
    font-size: 1.5em;
    padding: 1em 0;
}

#contact-form-input-wrap {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.contact-form-input-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    height: 80px;
}

.contact-form-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}

.required {
    background-color: var(--main-bg-color);
    color: white;
    padding: 1px 5px;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25%;
}

.contact-form-input {
    width: 60%;
    display: flex;
    flex-direction: row;
}

.contact-form-input input {
    width: 90%;
    height: 2em;
    border: none;
    outline: none;
    font-size: 1.2em;
}

.contact-form-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
}

#contact-checkbox-wrap-purpose {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    outline: none;
    margin-right: .5em;
}


#contact-checkbox-wrap-purpose div {
    width: 100%;
    align-items: center;
}

#contact-form-content-wrap {
    justify-content: flex-start;
    margin-top: 25px;
    height: fit-content;
}

#contact-form-label-content {
    margin-bottom: auto;
}

#contact-form-content-input {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    height: fit-content;
}

textarea {
    border: none;
    width: 90%;
}

#contact-content-checkbox-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#contact-content-checkbox-wrap a {
    color: black;

}

#contact-checkbox-policy {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contact-btn-tosend {
    background-color: white;
    color: var(--main-bg-color);
    margin-top: 5%;
    width: 250px;
    height: 50px;
    font-size: 1em;
    letter-spacing: .2em;
    border-radius: 2%;
    border: 3px solid var(--main-bg-color);

}

#contact-btn-tosend:hover {
    background-color: var(--main-bg-color);
    border: 3px solid white;
    color: white;
}

#contact-call-container {
    background-color: var(--light-green-color);
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 10% auto 5% auto;
    padding: 50px 0;
}

#contact-call-container>p {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 20px;
}

#contact-call-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

#contact-call-wrap img {
    height: 30px;
    padding-right: 1em;
}

#contact-call-location p {
    line-height: 70px;
}

.contact-call-num {
    /* background-color: #4c4c4c;  */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

.contact-call-num a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    padding: 5px 0;
}

/* contact call mobile */
#contact-call-wrap-mobile {
    display: none;
}


/* error container */
#error-container {
    border: solid 2px red;
    font-size: .8em;
    margin-bottom: 30px;
    background-color: white;
    color: red;
}

#error-container p {
    color: red;
    padding: 3px 0;
}

@media (max-width: 1050px) {
    .required {
        left: 30%;
    }
}

@media (max-width: 1000px) {
    #contact-form-wrap>p {
        font-size: 1.2em;
        padding: 1em 0;
    }

    .contact-form-input-item {
        font-size: .8em;
    }

    #contact-btn-toconfirm {
        width: 200px;
        height: 40px;
        font-size: .9em;
        letter-spacing: .2em;
    }

    #contact-form-message-wrap {
        font-size: .7em;
    }

    #contact-call-container>p {
        font-size: 1.2em;
        padding-bottom: 20px;
    }

    #contact-call-wrap img {
        height: 20px;
        padding-right: 1em;
    }

    #contact-call-location p {
        line-height: 50px;
        font-size: .8em;
    }

    .contact-call-num {
        /* background-color: #4c4c4c;  */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;


    }

    .contact-call-num a {
        font-size: 1em;
        padding: 5px 0;
    }

    #concact-call-time {
        font-size: .8em;
    }
}

@media (max-width: 850px) {
    label {
        font-size: .8em;
    }
}

@media (max-width: 750px) {
    label {
        font-size: 1em;
    }
}

@media (max-width: 620px) {
    label {
        font-size: .8em;
    }

    input[type="checkbox"] {
        width: 15px;
        height: 15px;
        outline: none;
    }
}

@media (max-width: 550px) {
    #contact-main-container {
        flex-direction: column-reverse;
    }

    #contact-form-wrap {
        padding: 20px 0;
    }

    .contact-form-label>p {
        font-size: .9em;
    }

    #contact-call-container {
        margin: 5% auto 5% auto;
        padding: 20px 0;
    }

    #contact-call-container>p {
        font-size: 1.4em;
        padding-bottom: 15px;
    }

    #contact-call-wrap img {
        height: 20px;
        padding-right: .6em;
    }

    #contact-call-location p {
        line-height: 40px;
        font-size: .5em;
    }

    .contact-call-num a {
        font-size: 1em;
        padding: 5px 0;
    }

    #concact-call-time {
        font-size: .4em;
    }

    #contact-form-wrap>p {
        font-size: 1.4em;
        padding: .8em 0;
    }

    #contact-purpose-wrap {
        margin: 3% 0 8% 0;
    }

    #contact-purpose-wrap .contact-form-label {

        margin-bottom: auto;
    }

    label {
        font-size: .9em;
    }

    #contact-checkbox-wrap-purpose {
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
    }

    #contact-btn-toconfirm {
        border: 2px solid var(--main-bg-color);
        font-size: .8em;
    }

    .required {
        padding: 0px 3px;
        font-size: .7em;
    }

    .path-links-wrap a {
        font-size: .7em;
    }
}

@media (max-width: 480px) {
    .contact-form-input {
        width: 60%;

    }

    textarea {
        width: 90%;
    }
}

@media (max-width: 460px) {
    textarea {
        width: 90%;
        height: 70%;
    }

    .contact-form-label>p {
        font-size: 1.2em;
    }

    label {
        font-size: 1.1em;
    }

    .contact-form-input-item {
        flex-direction: column;
        align-items: flex-start;
        margin: 3% 0;
    }

    #contact-checkbox-wrap-purpose {
        margin-left: 5%;
    }

    #contact-purpose-wrap {
        height: 80px;
    }

    .contact-form-label {
        margin-bottom: .1em;
        margin-left: 5%;
    }

    .contact-form-input {
        width: 100%;
        justify-content: center;
    }

    textarea {
        width: 90%;
        margin: 0 auto;
    }

    .required {
        padding: 0px 4px;
        left: 45%;
        font-size: .7em;
    }


    @media (max-width: 410px) {
        #contact-form-message-wrap {
            font-size: .6em;
        }
    }

    @media (max-width: 400px) {
        .required {
            left: 50%;
        }

        .contact-form-label {
            width: 100%;
        }

        #contact-call-container>p, #contact-form-wrap>p {
            font-size: 1.2em;
        }

        .contact-call-btn {
            padding: 5px 10px;
        }

        .contact-call-btn>a>img {
            height: 30px;
        }

        .contact-call-num-mobile>p {
            font-size: .9em;
        }
    }

    @media (max-width: 355px) {
        .required {
            left: 60%;
        }

        .contact-form-label>p, label {
            font-size: .9em;
        }

        #contact-form-message-wrap {
            font-size: .5em;
        }

        #contact-call-container>p, #contact-form-wrap>p {
            font-size: 1em;
        }
    }

    /* contact call mobile */
    #contact-call-wrap-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-call-num-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-call-num-mobile p {
        color: white;
    }

    .contact-call-num-p {
        font-size: 1.3em;
        letter-spacing: .1em;
        line-height: 30px;
    }

    .contact-call-btn>a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .contact-call-btn>a>img {
        height: 40px;
        padding-right: 1em;
    }

    .contact-call-btn {
        background-color: var(--main-bg-color);
        padding: 8px 15px;
        border-radius: 40px;
        margin: 1em 0;
    }


    #contact-call-wrap {
        display: none;
    }

}




/* work */
#work-top-img {
    background-image: url(./img/work-topimg2.jpg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

#work-main-container {
    padding-bottom: 80px;
}

#serchYears-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 80px
}

#serchYears-dropdown-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

#serchYears-dropdown-wrap select {
    height: 40px;
    width: fit-content;
    padding: 5px 30px;
    font-size: 1.2em;
}

#jumpToYear-btn {
    height: 30px;
    width: fit-content;
    font-size: 1.2em;
    margin-left: 10%;
    background-color: var(--main-bg-color);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 5px;
}

#jumpToYear-btn:hover {
    background-color: var(--hover-green-color);
}

#jumpToYear-btn p {
    color: white;
    padding-left: 10px;
}

#jumpToYear-btn img {
    height: 20px;
}

.table-title-wrap img {
    height: 40px;
}

.table-title-wrap {
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--main-bg-color);
    width: 80%;
    margin-left: 10%;
}

.table-title-wrap p {
    padding: 0 1em;
    font-size: 1.8em;
}

.tableHeader {
    background-color: var(--main-bg-color);
    color: white;
}

tr {
    height: 50px;
    text-align: center;
    font-size: 1.2em;
}

td {
    padding: 0 10px;
    white-space: nowrap;
}

tr:nth-child(2n+3) {
    background-color: var(--light-gray-color);
}

.table {
    width: 80%;
    margin-left: 10%;
}

.noteforscrolltable {
    display: none;
}

/* space for mobile */
.spacebeforetable {
    height: 80px;
}

@media (max-width: 1500px) {
    tr {

        font-size: 1em;
    }

}

@media (max-width: 880px) {
    .scroll-table {
        overflow-x: auto;
    }

    .table-title-wrap p {
        padding: 0 .8em;
        font-size: 1.5em;
    }

    .noteforscrolltable {
        display: block;
        font-size: .7em;
        padding-left: 5%;
    }

}

@media (max-width: 750px) {
    .noteforscrolltable {
        display: none;
    }
}

@media (max-width: 654px) {
    .noteforscrolltable {
        display: block;
        font-size: .7em;
        padding-left: 5%;
    }

    .table-title-wrap p {
        padding: 0 .5em;
        font-size: 1.2em;
    }

    #serchYears-dropdown-wrap select {
        height: 30px;
        padding: 3px 20px;
        font-size: 1em;
    }

    #jumpToYear-btn {
        height: 30px;
        font-size: 1em;
        margin-left: 5%;
        padding: 10px 20px;

    }
}

/* recruit */
#recruit-main-container .subpage-wrap {
    width: 60%;
    margin: 0 auto;
}

#recruit-top-img {
    background-image: url(./img/recruit-5workers-light.jpg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.recruit-jump-icons-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid var(--main-bg-color);
    border-radius: 50%;
    position: relative;
}
/* .recruit-jump-icons-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid var(--main-bg-color);
    border-top-color: transparent;
    background-color: #4c4c4c;
    transform: rotate(45deg);
    position: relative;
  }
  .recruit-jump-icons-circle:after, .recruit-jump-icons-circle:before {
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    content: ' ';
  }
  .recruit-jump-icons-circle:after {
    right: 21px;
    top: 21px;
  }
  .recruit-jump-icons-circle:before {
    left: 21px;
    top:21px;
  } */

#recruit-jump-icons-circle-forconstruction {
    background-image: url(./img/unbo-lightgreen.svg);
}

#recruit-jump-icons-circle-forconstruction:hover {
    background-color: var(--light-gray-color);
}

#recruit-jump-icons-circle-fordistribution {
    background-image: url(./img/dumpcar-lightgreen.svg);
}

#recruit-jump-icons-circle-forrecycle {
    background-image: url(./img/factory_icon-lightgreen.svg);
}

#recruit-jump-icons-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* width: 60%; */
    margin: 0 auto;
}

#recruit-jump-icons-wrap a {
    text-decoration: none;
}

.recruit-jump-icons-circle-title-jpn-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.recruit-jump-icons-circle-title-jpn {
    font-size: 2em;
    line-height: 60px;
}

.recruit-jump-icons-circle-title-en {
    font-family: dolceVita;
    font-size: 1em;

}

#recruit-jump-icons-circle-forrecycle .recruit-jump-icons-circle-title-jpn {
    font-size: 1.7em;
    line-height: 30px;
    text-align: center;
    margin-top: .5em;
}

#recruit-jump-icons-circle-forrecycle .recruit-jump-icons-circle-title-en {
    text-align: center;
    font-size: 1em;
    line-height: 15px;
}

.recruit-jump-icons-circle-more-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 10px;
    position: absolute;
    bottom: -5%;
    font-family: dolceVita;
}

/* recruite main section */
.recruit-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.section-title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size: 1.5em;
    margin-bottom: 2%;
}

.section-title-jpn {
    font-size: 1.5em;
    background: -webkit-linear-gradient(var(--dark-gray-color), var(--light-gray-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}

.section-title-en {
    font-family: dolceVita;
    padding-left: 1em;
}

.line-bold, .line-thin {
    height: 5px;
}

.line-bold {
    background-color: var(--main-bg-color);
    width: 10%;
}

.line-thin {
    width: 100%;
    background-color: var(--light-green-color);
}

.section-title-p-wrap, .section-title-lines-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.section-title-wrap img {
    height: 50px;
    margin-left: auto;
}

.section-main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-main-top-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
    margin-bottom: 2%;
}

.section-main-top-wrap p {
    width: 40%;
    margin-left: 10%;
    font-size: 1.2em;
}

.section-main-top-wrap img {
    width: 30%;
}

.section-main-btm-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.comingsoon {
    font-size: 1.2em;
    margin-top: 5%;
}

.job-list-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 1em 0 0 40%;
}

.dot {
    height: .7em;
    width: .7em;
    background-color: var(--dark-gray-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 2%;
}

.job-title {
    font-size: 1.2em;
}

.job-list-wrap a {
    background-color: var(--main-bg-color);
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: .2em 1em;
    border-radius: 5px;
    margin-left: 40%;
}

.job-list-wrap a:hover {
    background-color: var(--hover-green-color);
}

#recruit-recycle-section-container {
    margin-bottom: 10%;
}

@media (max-width: 1800px) {
    #recruit-jump-icons-wrap {
        justify-content: space-around;
        width: 80%;
    }

    .job-list-wrap {
        margin: 1em 0 0 35%;
    }

}

/* @media (max-width: 1650px) {
    .section-title-wrap {
        font-size: 1.2em;
        width: 70%;
    }
} */

.section-main-top-wrap {
    width: 85%;
}

@media (max-width: 1200px) {
    .recruit-jump-icons-circle {
        height: 220px;
        width: 220px;
        border: 4px solid var(--main-bg-color);
    }

    #recruit-jump-icons-circle-title-jpn-recycle {
        font-size: 1.3em;
        line-height: 60px;
    }

    #recruit-jump-icons-circle-title-en-recycle {
        font-family: dolceVita;
        font-size: 1.3em;

    }

    .job-list-wrap {
        margin: 1em 0 0 30%;
    }
}

@media (max-width: 1050px) {
    .recruit-jump-icons-circle {
        height: 180px;
        width: 180px;
        border: 3px solid var(--main-bg-color);
        background-size: 50% auto;
    }

    .job-list-wrap {
        margin: 1em 0 0 20%;
    }

    #recruit-jump-icons-circle-title-jpn-recycle {
        font-size: 1em;
    }
}



@media (max-width: 900px) {
    .recruit-jump-icons-circle {
        height: 150px;
        width: 150px;
        background-size: 50% auto;
    }

    .job-title, .job-list-wrap a {
        font-size: 1em;
    }

    .job-list-wrap a {
        padding: .1em .7em;
    }

    .section-main-top-wrap {
        flex-direction: column;
    }

    .section-main-top-wrap img {
        width: 65%;
    }

    .section-main-top-wrap p {
        font-size: 1em;
        width: 65%;
        margin: 0;
    }

    #recruit-jump-icons-circle-title-jpn-recycle {
        font-size: .9em;
    }

    #recruit-jump-icons-circle-title-en-recycle {
        font-size: 1em;

    }

    .recruit-jump-icons-circle-title-en {
        font-size: 1em;
    }

    .recruit-jump-icons-circle-title-jpn {
        font-size: 1.3em;
    }

    .recruit-jump-icons-circle-more-wrap {
        font-size: .8em;
    }

    /* .section-title-jpn {
        font-size: 1.3em;
    } */
}

@media (max-width: 700px) {

    .section-main-top-wrap img {
        width: 70%;
    }

    .section-main-top-wrap p {
        font-size: .9em;
        width: 70%;
    }
}

@media (max-width: 600px) {
    .recruit-jump-icons-circle {
        height: 120px;
        width: 120px;
        background-size: 40% auto;
    }

    #recruit-jump-icons-circle-title-jpn-recycle {
        font-size: .7em;
        line-height: 30px;
    }

    #recruit-jump-icons-circle-title-en-recycle {
        font-size: .8em;

    }

    .recruit-jump-icons-circle-title-en {
        font-size: .8em;

    }

    .recruit-jump-icons-circle-title-jpn {
        font-size: 1.2em;
        line-height: 30px;
    }
}

@media (max-width: 580px) {
    .recruit-jump-icons-circle {
        height: 100px;
        width: 100px;
    }

    #recruit-jump-icons-circle-title-jpn-recycle {
        font-size: .6em;

    }

    #recruit-jump-icons-circle-title-en-recycle {
        font-size: .6em;

    }

    .recruit-jump-icons-circle-title-en {
        font-size: .7em;
    }

    .recruit-jump-icons-circle-title-jpn {
        font-size: 1em;
        line-height: 2em;
    }

    .recruit-jump-icons-circle-more-wrap {
        font-size: .6em;
    }

    .job-list-wrap a {
        margin-left: 30%;
    }

    /* .section-title-jpn {
        font-size: 1.2em;
    } */
}

@media (max-width: 510px) {
    .section-main-top-wrap {
        flex-direction: column;
    }

    .section-main-top-wrap p {
        margin-left: 0;
        width: 80%;
        padding: 3% 0 3% 0;
    }

    .section-title-jpn {
        font-size: 1.1em;
    }
}

@media (max-width: 460px) {
    #recycle-section-title-jpn {
        letter-spacing: -.1em;
    }

    .section-title-jpn {
        font-size: 1em;
    }
}

@media (max-width: 430px) {
    .section-title-jpn {
        letter-spacing: -.05em;
        font-size: .9em;
    }

    .recruit-jump-icons-circle {
        height: 100px;
        width: 100px;
    }

    #recruit-jump-icons-circle-title-jpn-recycle {
        font-size: .6em;
        line-height: 2em;
    }

    .recruit-jump-icons-circle-title-en {
        font-size: .7em;
    }


    .recruit-jump-icons-circle-more-wrap {
        font-size: .6em;
    }

    #recycle-section-title-jpn {
        font-size: .8em;
    }

    #recycle-section-title-eng {
        font-size: .9em;
    }
}

@media (max-width: 400px) {
    .recruit-jump-icons-circle {
        height: 80px;
        width: 80px;
    }

    #recruit-jump-icons-circle-title-jpn-recycle {
        font-size: .5em;
        line-height: 1.5em;
    }

    #recruit-jump-icons-circle-title-en-recycle {
        font-size: .5em;

    }

    .recruit-jump-icons-circle-title-en {
        font-size: .5em;
    }

    .recruit-jump-icons-circle-title-jpn {
        font-size: .8em;
        line-height: 1.5em;
    }

    .recruit-jump-icons-circle-more-wrap {
        font-size: .5em;
    }

}

@media (max-width: 380px) {
    #recycle-section-title-jpn {
        font-size: .8em;
    }

    .section-title-jpn {
        font-size: .8em;
    }

    #recycle-section-title-eng {
        font-size: .7em;
    }

    .job-list-wrap {
        font-size: .8em;
    }
}

@media (max-width: 310px) {

    .section-title-jpn {
        font-size: .7em;
    }

}

/* responsive subpages imgs */
.top-imgs {
    height: 40vh;
}

@media (max-width: 1220px) {
    .top-imgs {
        height: 35vh;
    }
}

@media (max-width: 1100px) {
    .top-imgs {
        height: 30vh;
    }
}

@media (max-width: 860px) {
    .top-imgs {
        height: 25vh;
    }
}

@media (max-width: 590px) {
    .top-imgs {
        height: 20vh;
    }
}

@media (max-width: 450px) {
    .top-imgs {
        height: 15vh;
    }
}

@media (max-width: 360px) {
    .top-imgs {
        height: 10vh;
    }
}