                :root {
                    --main-bg-color    : #3b7b58;
                    --light-green-color: #d8e5de;
                    --light-gray-color : #ebebeb;
                }

                @font-face {
                    font-family: dolceVita;
                    src        : url(font/Dolce\ Vita.ttf);
                }

                @font-face {
                    font-family: dolceVita-bold;
                    src        : url(font/Dolce\ Vita\ Heavy\ Bold.ttf);
                }

                * {
                    margin : 0;
                    padding: 0;
                }


                #menu-wrap,
                .location-names,
                #contact-btn p,
                .main-message-wrap,
                .sub-message,
                .title-jpn,
                #service-message-wrap,
                .box-title-btn-wrap a,
                .box-title,
                .createDivForListWrap,
                #btn-news>p,
                .footer-menu,
                #btn-recruit,
                #recruit-rightbox p {
                    font-family: toppan-bunkyu-midashi-min-st, serif;
                    font-weight: 900;
                    font-style : normal;
                }

                #logo-wrap,
                #footer-logo-wrap p,
                .address-wrap p,
                #licencedWrap p {
                    font-family   : 'Kosugi Maru', sans-serif;
                    /* font-family: fot-seurat-pron, sans-serif; */
                    font-weight   : 600;
                    font-style    : normal;
                }

                #phone-num-wrap a {
                    font-family: ta-marugo-gf-02, sans-serif;
                    font-weight: 500;
                    font-style : normal;
                }

                /* nav menu */

                nav {
                    background-color: var(--main-bg-color);
                    width           : 35vw;
                    height          : 70vh;
                    display         : flex;
                    flex-direction  : column;
                    position        : fixed;
                }

                #logo-wrap {
                    display        : flex;
                    flex-direction : column;
                    justify-content: center;
                    align-items    : center;
                    color          : white;
                    height         : 90px;
                    width          : 70%;
                }

                #logo-wrap>p {
                    color    : white;
                    font-size: .2em;

                }

                #logo-wrap>h3 {
                    color  : white;
                    padding: .1em;
                }

                #logo-wrap img {
                    width  : 30px;
                    padding: .5em 0;
                }

                p,
                h3 {
                    color: black;
                }

                #menu-wrap {
                    padding-top   : 10px;
                    letter-spacing: .1rem;
                    padding-top   : 30px;
                }

                .menu-link {
                    text-decoration: none;
                    display        : flex;
                    flex-direction : row;
                    max-width      : 220px;
                    margin         : 2% 0 2% 7%;
                }

                .menu-names {
                    color    : white;
                    font-size: .8em;
                }

                .menu-link:hover {
                    background-color: white;
                }

                .menu-link:hover .menu-names {
                    color: var(--main-bg-color);
                }

                .menu-select {
                    display        : flex;
                    flex-direction : row;
                    width          : 100%;
                    padding        : 0 10%;
                    justify-content: start;
                    align-items    : center;
                }

                .menu-icons {
                    height      : 20px;
                    padding-left: 10%;
                }

                #hidden-menu {
                    padding-left: 10%;
                    display     : none;
                }

                .notready {
                    color       : var(--main-bg-color);
                    font-size   : .7em;
                    padding-left: 5px;
                }



                /* mobile nav */


 





                /* wrap for locations and phone nums in nav */
                #phone-num-wrap {
                    height          : max-content;
                    width           : 35vw;
                    display         : flex;
                    flex-direction  : column;
                    justify-content : center;
                    background-color: white;
                    position        : fixed;
                    top             : 70vh;

                }

                .location-names {
                    padding-left: 10%;
                    font-size   : .7em;
                }

                #phone-num-wrap a {
                    text-decoration: none;
                    align-items    : center;
                    font-size      : 1.4em;
                    letter-spacing : 2px;
                }

                .img-phone-nums-wrap {
                    display        : flex;
                    flex-direction : row;
                    padding-left   : 10%;
                    justify-content: start;
                    align-items    : center;

                }

                .img-phone-nums-wrap img {
                    height: 25px;
                }

                .img-phone-nums-wrap p {
                    line-height   : 30px;
                    padding-left  : 5%;
                    letter-spacing: .1rem;
                }


                /* right side of screen from header to end */

                #lp-main-container {
                    width              : 75vw;
                    display            : flex;
                    flex-direction     : column;
                    margin-left        : auto;
                    position           : relative;
                    /* background-color: white; */
                }

                #header-contact {
                    top            : 0;
                    right          : 0;
                    height         : 70px;
                    width          : 75vw;
                    position       : fixed;
                    text-decoration: none;
                }

                #header-contact a {
                    text-decoration: none;
                }

                /* btn for contact page  */
                #contact-btn {
                    background-color: var(--main-bg-color);
                    width           : 10vw;
                    height          : 70px;
                    margin-left     : auto;
                    display         : flex;
                    flex-direction  : column;
                    align-items     : center;
                    justify-content : center;

                }

                #contact-btn:hover {
                    background-color: #4fa476;
                }

                #contact-btn p {

                    font-size: .8em;
                    color    : white;

                }

                #contact-btn img {
                    height: 30px;
                }

                /* main img for lp */
                #lp-mainimg {
                    width              : 75vw;
                    height             : 80vh;
                    background-image   : url(./img/background-img.jpg);
                    background-size    : 100% auto;
                    background-repeat  : no-repeat;
                    background-position: center;
                    margin-top         : 70px;
                    display            : flex;
                    flex-direction     : column;
                    justify-content    : center;
                }

                .main-message-wrap {
                    background-color: white;
                    display         : flex;
                    flex-direction  : row;
                    font-size       : 1.4em;
                    width           : max-content;
                    letter-spacing  : 3px;
                    margin-left     : 50%;
                    line-height     : 35px;
                    padding         : 0 10px;
                }

                .green-text {
                    color         : var(--main-bg-color);
                    letter-spacing: 3px;
                }

                #main-second-message-wrap {
                    margin-top: 8px;
                }

                .sub-message {
                    font-size  : .5em;
                    line-height: 15px;
                    margin-left: 50%;
                }

                .test {
                    background-color: rgba(0, 0, 255, .4);
                    height          : 400px;
                }


                /* service container */
                #service-container {
                    display         : flex;
                    flex-direction  : column;
                    background-color: var(--light-gray-color);
                    align-items     : center;
                    padding-bottom  : 80px;
                }

                .space {
                    height          : 10vh;
                    background-color: white;
                }

                .bg-text {
                    font-family: dolceVita;
                    font-size  : 10em;
                    line-height: 130px;

                }

                #bg-text-left {
                    margin-right: auto;
                    color       : white;
                }

                .title-wrap {
                    display        : flex;
                    flex-direction : column;
                    justify-content: center;
                    align-items    : center;
                    position       : absolute;
                    padding-top    : 60px;
                }

                .title-eng {
                    font-family: dolceVita;
                    font-size  : 2.8em;
                    color      : var(--main-bg-color);
                }

                .title-jpn {
                    font-size  : 1.5em;
                    line-height: 10px;
                }

                #service-message-wrap {
                    width    : 70%;
                    font-size: .8em;
                    padding  : 30px 0;
                }

                /* service boxes */
                #service-boxes-wrap {
                    display        : flex;
                    width          : 100%;
                    justify-content: space-around;
                    align-items    : center;
                }

                .box-wrap {
                    background-color: var(--main-bg-color);
                    width           : 19vw;
                    padding-bottom  : 7px;
                }

                .box-img {
                    height          : 30vh;
                    background-color: black;
                }

                #box-img-kensetsu {
                    background-image   : url(./img/genba.jpg);
                    background-repeat  : no-repeat;
                    background-size    : 130% auto;
                    background-position: center;
                }

                #box-img-unso {
                    background-image   : url(./img/unso-dampcar.jpg);
                    background-repeat  : no-repeat;
                    background-size    : auto 130%;
                    background-position: right center;
                }

                #box-img-recycle {
                    background-image   : url(./img/recycle.JPG);
                    background-repeat  : no-repeat;
                    background-size    : 120% auto;
                    background-position: top center;
                }

                .box-title-btn-wrap {
                    background-color: white;
                    /* height       : 80px; */
                    width           : 100%;
                    display         : flex;
                    flex-direction  : column;
                    align-items     : center;
                    justify-content : center;
                }

                .box-title {
                    font-size: 1.5em;
                    padding  : 10px 0;
                }

                .shosai-btn {
                    text-decoration: none;
                    color          : var(--main-bg-color);
                    border         : var(--main-bg-color) solid 2px;
                    padding        : 2px 20px;
                    margin-bottom  : 15px;
                    font-size      : .7em;
                }

                .shosai-btn:hover {
                    border          : white solid 2px;
                    color           : white;
                    background-color: var(--main-bg-color);
                }



                /* news container */
                #news-container {
                    background-color: white;
                    display         : flex;
                    flex-direction  : column;
                    align-items     : center;
                    padding         : 50px 0;

                }

                #bg-text-right {
                    color      : var(--light-gray-color);
                    margin-left: auto;

                }

                #news-content-wrap {
                    background-color: var(--light-green-color);
                    width           : 60vw;
                    margin-top      : 5%;
                    padding         : 20px 0;
                }

                #btn-news {
                    display         : flex;
                    flex-direction  : row;
                    align-items     : center;
                    justify-content : center;
                    background-color: var(--main-bg-color);
                    width           : 120px;
                    padding         : 10px 20px;
                    text-decoration : none;
                    margin-left     : 50%;
                    position        : relative;
                    top             : -20px;
                    z-index         : 2;
                }

                #btn-news:hover {
                    background-color: #4fa476;
                }

                #btn-news img {
                    height       : 20px;
                    padding-right: 15px;
                }

                #btn-news>p {
                    color    : white;
                    font-size: .8em;
                }


                /* news list coming from api */
                .createDivForListWrap {
                    background-color: var(--light-green-color);
                    height          : fit-content;
                    display         : flex;
                    flex-direction  : row;
                    align-items     : center;
                    justify-content : flex-start;
                }

                .createDivForListWrap {
                    display       : flex;
                    flex-direction: row;
                    align-items   : center;

                    margin-left: 10%;
                }

                .createPForTime {
                    padding: 10px 20px;
                }

                .createDivForNew {
                    background-color: var(--main-bg-color);
                    color           : white;
                    width           : 90px;
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    margin-left     : 5%;
                    line-height     : 20px;
                    font-size       : .7em;
                }

                .createDivForEmpty {
                    color      : var(--light-green-color);
                    width      : 90px;
                    margin-left: 5%;
                }

                .createaFortitleOfArticle {
                    margin-left: 5%;
                    color      : black;
                }

                /* recruit container */
                #recruit-container {
                    display         : flex;
                    flex-direction  : column;
                    background-color: var(--light-gray-color);
                    align-items     : center;
                    padding         : 50px 0;
                }

                .recruit-wrap {
                    display        : flex;
                    flex-direction : row;
                    align-items    : center;
                    justify-content: space-around;
                    padding        : 50px 0;
                }

                .recruit-wrap img {
                    height: auto;
                    width : 40%;
                }

                #recruit-rightbox {
                    width         : 40%;
                    display       : flex;
                    flex-direction: column;
                    align-items   : center;
                }

                #recruit-rightbox p {
                    font-size: .7em;
                }

                #btn-recruit {
                    padding   : 5px 20px;
                    margin-top: 10%;
                }

                /* footer */
                #footer-img-wrap {
                    display         : flex;
                    flex-direction  : row;
                    align-items     : center;
                    justify-content : space-evenly;
                    background-color: white;

                }

                #footer-img-wrap img {
                    height: 30px;
                }

                #footer-wrap {
                    background-color: var(--main-bg-color);
                    display         : flex;
                    flex-direction  : column;
                    padding-bottom  : 50px;
                }

                #footer-top {
                    display       : flex;
                    flex-direction: row;
                }

                #footer-logo-wrap {
                    display        : flex;
                    flex-direction : row;
                    justify-content: center;
                    width          : 25%;
                    padding-left   : 20px;
                    padding-top    : 50px;
                }

                #footer-logo-wrap p {
                    color       : white;
                    padding-left: 10px;
                    line-height : 30px;
                }

                #footer-logo {
                    height: 30px;
                    width : 30px;

                }

                #footer-menu-wrap {
                    display        : flex;
                    flex-direction : row;
                    justify-content: space-evenly;
                    align-items    : flex-start;
                    width          : 80%;
                    padding-top    : 55px;
                }

                .footer-menu {
                    color    : white;
                    font-size: .7em;
                }

                #footer-jigyo-wrap {
                    display        : flex;
                    flex-direction : column;
                    justify-content: space-evenly;
                    align-items    : flex-start;
                }

                #footer-jigyo-sub-wrap {
                    display        : flex;
                    flex-direction : column;
                    align-items    : flex-start;
                    justify-content: space-evenly;
                }

                #white-line {
                    background-color: white;
                    height          : 2px;
                    width           : 90%;
                    margin          : 2% auto;
                }

                #footer-bottom {
                    display        : flex;
                    flex-direction : row;
                    align-items    : flex-start;
                    justify-content: space-evenly;
                }

                .address-wrap {
                    display       : flex;
                    flex-direction: column;
                }

                .address-wrap p {
                    color    : white;
                    font-size: .8em;
                    padding  : 1px 0;
                }

                .addressName-wrap {
                    display       : flex;
                    flex-direction: row;
                    align-items   : center;
                }

                .addressName-wrap img {
                    height       : 15px;
                    padding-right: 5px;
                }

                .addressName-wrap p {
                    font-size: .9em;
                }

                #licencedWrap {
                    background-color: var(--main-bg-color);
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                }

                #licencedWrap p {
                    color: white;
                }