                :root {
                    --main-bg-color: #3b7b58;
                    --light-green-color: #d8e5de;
                    --light-gray-color: #ebebeb;
                }

                html {
                    scroll-behavior: smooth;
                }

                @font-face {
                    font-family: dolceVita;
                    src: url(font/Dolce\ Vita.ttf);
                }

                @font-face {
                    font-family: dolceVita-bold;
                    src: url(font/Dolce\ Vita\ Heavy\ Bold.ttf);
                }

                * {
                    margin: 0;
                    padding: 0;
                }


                #menu-wrap,
                .location-names,
                #contact-btn p,
                .main-message-wrap,
                .sub-message,
                .title-jpn,
                #service-message-wrap,
                .box-title-btn-wrap a,
                .box-title,
                .createDivForListWrap,
                #btn-news>p,
                .footer-menu,
                #btn-recruit,
                #recruit-rightbox p, .mobile-menu-names {
                    font-family: toppan-bunkyu-midashi-min-st, serif;
                    font-weight: 900;
                    font-style: normal;
                }

                #logo-wrap,
                #footer-logo-wrap p,
                .address-wrap p,
                #licencedWrap p, #hambuger-wrap p, #mobile-logo-wrap p, .nav-icon-text, .call-btn, #footer-shozaichi {
                    font-family: 'Kosugi Maru', sans-serif;
                    /* font-family: fot-seurat-pron, sans-serif; */
                    font-weight: 600;
                    font-style: normal;
                }

                #phone-num-wrap a {
                    font-family: ta-marugo-gf-02, sans-serif;
                    font-weight: 500;
                    font-style: normal;
                }

                /* nav menu */

                #lp-nav {
                    background-color: var(--main-bg-color);
                    width: 35vw;
                    height: 70vh;
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                }

                #logo-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    height: 90px;
                    width: 70%;
                    text-decoration: none;
                }

                #logo-wrap>p {
                    color: white;
                    font-size: .2em;

                }

                #logo-wrap>h3 {
                    color: white;
                    padding: .1em;
                }

                #logo-wrap img {
                    width: 30px;
                    padding: .5em 0;
                }

                p,
                h3 {
                    color: black;
                }

                #menu-wrap {
                    padding-top: 10px;
                    letter-spacing: .1rem;
                    padding-top: 30px;
                }

                .menu-link {
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    max-width: 220px;
                    margin: 2% 0 2% 7%;
                }

                .menu-names {
                    color: white;
                    font-size: 1em;
                }

                .menu-link:hover {
                    background-color: white;
                }

                .menu-link:hover .menu-names {
                    color: var(--main-bg-color);
                }

                .menu-select {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    padding: 0 10%;
                    justify-content: start;
                    align-items: center;
                }

                .menu-icons {
                    height: 20px;
                    padding-left: 10%;
                }

                #hidden-menu {
                    padding-left: 10%;
                    display: none;
                }

                .notready {
                    color: var(--main-bg-color);
                    font-size: .7em;
                    padding-left: 5px;
                }

                @media (max-width: 750px) {
                    #lp-container, #lp-main-container, #header-contact {
                        display: none;
                    }
                }

                @media (max-width: 990px) {
                    .menu-link {
                        max-width: 150px;
                        margin: 2% 0 2% 5%;
                    }

                    .menu-names {
                        font-size: .7em;
                    }
                }


                /* mobile nav */
                #mobile-container {
                    width: 100vw;
                }

                #mobile-nav {
                    background-color: var(--main-bg-color);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 8vh;
                    width: 100vw;
                    position: fixed;
                    top: 0;
                    z-index: 3;
                }

                #mobile-logo-wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                }

                #mobile-logo-wrap img {
                    width: 30px;
                    margin-bottom: 3px;
                }

                #mobile-logo-wrap p {
                    color: white;
                    font-size: 1em;
                }


                #hambuger-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 8vh;
                    width: 60px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                /* #nav-icon-open {
                    display: none;
                } */
                #nav-icon-closed {
                    display: none;
                }

                .nav-icon-text {
                    color: white;
                    font-size: .9em;
                    width: 55px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 5px;

                    margin-right: 20%;
                    width: 80%;

                }

                /* nav icon */
                #nav-icon {
                    width: 60px;
                    height: 30px;
                    position: relative;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .5s ease-in-out;
                    -moz-transition: .5s ease-in-out;
                    -o-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;
                    cursor: pointer;

                }

                #nav-icon span {
                    display: block;
                    position: absolute;
                    height: 6px;
                    width: 80%;
                    background: white;
                    border-radius: 5px;
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;

                }

                #nav-icon span:nth-child(1) {
                    top: 0px;
                }

                #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
                    /* top: 18px; */
                    top: 12px;
                }

                #nav-icon span:nth-child(4) {
                    /* top: 36px; */
                    top: 24px;
                }

                #nav-icon.open span:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }

                #nav-icon.open span:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                #nav-icon.open span:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }

                #nav-icon.open span:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }

                @media (min-width: 750px) {
                    #mobile-nav, #nav-icon {
                        display: none;
                    }

                }

                /* mobile menu wrap */
                #mobile-menu-container {
                    width: 100%;
                    background-color: rgba(59, 123, 88, .98);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    top: 8vh;
                    z-index: 1;
                }

                #mobile-menu-wrap {

                    padding: 20px 0;
                }



                .mobile-menu-link {
                    background-color: white;
                    text-decoration: none;
                }

                .mobile-menu-link {
                    color: var(--main-bg-color);
                    background-color: white;
                }

                .mobile-menu-names {
                    color: white;
                    font-size: .9em;
                }

                #mobile-menu-kensetsu>div, #mobile-menu-unso>div, #mobile-menu-recycle>div {
                    padding-left: 10%;
                }


                .mobile-menu-select {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 10px 0;
                }

                .mobile-menu-select img {
                    height: 15px;
                }

                .mobile-menu-select:hover {
                    background-color: white;
                }

                .mobile-menu-select:hover .mobile-menu-names {
                    color: var(--main-bg-color);
                }



                /* btns for call in mobile menu */
                #call-btns-wrap {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 40px;

                }

                .call-btn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-radius: 40px;
                    background-color: white;
                    padding: 5px 10px;
                    margin: 0 8px;
                    text-decoration: none;
                    height: 40px;
                }

                .call-btn>img {
                    height: 25px;
                }

                .call-btn-text-wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .call-btn-text-wrap p {
                    font-size: .6em;
                    color: var(--main-bg-color);
                    padding-left: 5px;

                }

                .mobile-phonenums {
                    letter-spacing: 2px;
                    font-size: .7em;
                }

                @media (max-width: 320px) {
                    .call-btn>img {
                        height: 20px;
                    }

                    .call-btn-text-wrap p {
                        font-size: .5em;
                        padding-left: 3px;

                    }
                }

                /* go to top */
                #goToTopBtn {
                    display: none;
                    position: fixed;
                    bottom: 15px;
                    right: 15px;
                    z-index: 99;
                    border: none;
                    outline: none;
                    background-color: rgba(59, 123, 88, .6);
                    color: white;
                    cursor: pointer;
                    padding: 10px;
                    border-radius: 50%;
                    font-size: .7em;
                    -moz-box-shadow: -4px 5px 23px -4px rgba(255, 255, 255, 0.45);
                    -webkit-box-shadow: -4px 5px 23px -4px rgba(255, 255, 255, 0.45);
                    -ms-box-shadow: -4px 5px 23px -4px rgba(255, 255, 255, 0.45);
                    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.45);
                }

                #gototopWrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                #gototopWrap>img {
                    width: 20px;
                }

                #goToTopBtn:hover {
                    background-color: var(--main-bg-color);
                    /* Add a dark-grey background on hover */
                }

                /* wrap for locations and phone nums in nav */
                #phone-num-wrap {
                    height: max-content;
                    width: 35vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: white;
                    position: fixed;
                    top: 70vh;
                    padding-top: 1em;
                }

                .location-names {
                    padding-left: 10%;
                    font-size: .8em;
                }

                #phone-num-wrap a {
                    text-decoration: none;
                    align-items: center;
                }

                .img-phone-nums-wrap {
                    display: flex;
                    flex-direction: row;
                    padding-left: 10%;
                    justify-content: start;
                    align-items: center;

                }

                .img-phone-nums-wrap img {
                    height: 25px;
                }

                .img-phone-nums-wrap p {
                    line-height: 30px;
                    padding-left: 5%;
                    letter-spacing: 1px;
                    font-size: 1.2em;
                }

                @media (max-width: 990px) {
                    .img-phone-nums-wrap img {
                        height: 20px;
                    }

                    #phone-num-wrap a {
                        font-size: 1.2em;
                        letter-spacing: 1em;
                    }
                }

                @media (max-width: 860px) {
                    #phone-num-wrap a {
                        font-size: 1em;
                        letter-spacing: 1em;
                    }
                }

                /* right side of screen from header to end */

                #lp-main-container {
                    width: 75vw;
                    display: flex;
                    flex-direction: column;
                    margin-left: auto;
                    position: relative;
                    /* background-color: white; */
                }



                #header-contact {
                    top: 0;
                    right: 0;
                    height: 70px;
                    width: 75vw;
                    position: fixed;
                    text-decoration: none;
                    z-index: 4;
                }

                #header-contact a {
                    text-decoration: none;
                }

                /* btn for contact page  */
                #contact-btn {
                    background-color: var(--main-bg-color);
                    width: 10vw;
                    height: 70px;
                    margin-left: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                }

                #contact-btn:hover {
                    background-color: #4fa476;
                }

                #contact-btn p {

                    font-size: .9em;
                    color: white;

                }

                #contact-btn img {
                    height: 30px;
                }

                /* main img for lp */
                #lp-mainimg {
                    background-image: url(./img/background-img.jpg);
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .main-context-container {
                    width: 75vw;
                    height: 80vh;
                    margin-top: 70px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                }

                .main-message-wrap {
                    background-color: white;
                    display: flex;
                    flex-direction: row;
                    font-size: 1.8em;
                    width: max-content;
                    letter-spacing: 3px;
                    margin-left: 50%;
                    line-height: 45px;
                    padding: 0 15px;
                }

                .green-text {
                    color: var(--main-bg-color);
                    letter-spacing: 3px;
                }

                #main-second-message-wrap {
                    margin-top: .5em;
                    margin-bottom: .5em;
                }

                .sub-message {
                    font-size: .7em;
                    line-height: 15px;
                    margin-left: 50%;
                    padding-top: 2px;
                }

                @media (max-width: 1190px) {
                    .main-message-wrap, .sub-message {
                        margin-left: 35%;
                    }


                    .main-message-wrap, .sub-message {
                        margin-left: 30%;
                    }
                }

                @media (max-width: 900px) {
                    #contact-btn p {
                        font-size: .7em;
                    }
                }

                @media (max-width: 850px) {
                    .main-message-wrap, .sub-message {
                        margin-left: 25%;
                    }

                    #lp-mainimg {
                        background-size: 100%;
                        top: 70px;
                        z-index: 0;
                    }

                    .main-message-wrap {

                        font-size: 1.4em;
                        letter-spacing: 2px;
                        margin-left: 20%;
                        line-height: 40px;
                        padding: 0 10px;
                    }
                }

                @media (max-width: 790px) {
                    .main-message-wrap, .sub-message {
                        margin-left: 20%;
                    }
                }

                @media (max-width: 750px) {

                    #lp-main-container, #lp-mainimg {
                        width: 100%;

                    }

                    #lp-mainimg {
                        margin-top: 0;
                        background-size: 100% auto;
                        align-items: center;
                        width: 100vw;
                        top: 8vh;
                        z-index: 0;
                    }

                    .main-message-wrap, .sub-message {
                        margin-left: 0;
                    }

                    .main-message-wrap {
                        font-size: 1.5em;
                        letter-spacing: 2px;
                        line-height: 40px;
                        padding: 0 5px;
                    }

                    .sub-message {
                        font-size: .5em;
                    }
                }

                @media (max-width: 420px) {
                    #lp-mainimg {
                        background-size: auto 100%;
                        height: 90vh;
                    }
                }

                @media (max-width: 380px) {
                    #lp-mainimg {
                        background-size: auto 100%;
                        height: 90vh;
                    }
                }

                @media (max-width: 360px) {
                    .main-message-wrap {
                        background-color: white;
                        display: flex;
                        flex-direction: row;
                        font-size: 1.2em;
                        width: max-content;
                        letter-spacing: 3px;
                        line-height: 30px;
                        padding: 0 10px;
                    }

                    .sub-message {
                        font-size: .5em;
                    }
                }

                @media (max-width: 320px) {
                    .main-message-wrap {

                        font-size: 1em;

                        letter-spacing: 1px;
                        line-height: 30px;
                        padding: 0 10px;
                    }

                    .sub-message {
                        font-size: .4em;
                        padding-top: 1px;
                    }

                }

                /* service container */
                #service-container {
                    display: flex;
                    flex-direction: column;
                    background-color: var(--light-gray-color);
                    align-items: center;
                    padding-bottom: 80px;
                }

                .space {
                    height: 10vh;
                    background-color: white;
                }

                .bg-text {
                    font-family: dolceVita;
                    font-size: 10em;
                    line-height: 130px;

                }

                #bg-text-left {
                    margin-right: auto;
                    color: white;
                }

                .title-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    padding-top: 60px;
                }

                .title-eng {
                    font-family: dolceVita;
                    font-size: 2.8em;
                    color: var(--main-bg-color);
                }

                .title-jpn {
                    font-size: 1.5em;
                    line-height: 10px;
                }

                #service-message-wrap {
                    width: 70%;
                    font-size: .8em;
                    padding: 30px 0;
                }

                /* service boxes */
                #service-boxes-wrap {
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    align-items: center;
                }

                .box-wrap {
                    background-color: var(--main-bg-color);
                    width: 19vw;
                    padding-bottom: 7px;
                }

                .box-img {
                    height: 30vh;
                    background-color: black;
                }

                #box-img-kensetsu {
                    background-image: url(./img/genba.jpg);
                    background-repeat: no-repeat;
                    background-size: 130% auto;
                    background-position: center;
                }

                #box-img-unso {
                    background-image: url(./img/unso-dampcar.jpg);
                    background-repeat: no-repeat;
                    background-size: auto 130%;
                    background-position: right center;
                }

                #box-img-recycle {
                    background-image: url(./img/recycle.JPG);
                    background-repeat: no-repeat;
                    background-size: 120% auto;
                    background-position: top center;
                }

                .box-title-btn-wrap {
                    background-color: white;
                    /* height       : 80px; */
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                .box-title {
                    font-size: 1.5em;
                    padding: 10px 0;
                }

                .shosai-btn {
                    text-decoration: none;
                    color: var(--main-bg-color);
                    border: var(--main-bg-color) solid 2px;
                    padding: 3px 15px;
                    margin-bottom: 15px;
                    font-size: .9em;
                    width: 100px;
                    text-align: center;
                }

                .shosai-btn:hover {
                    border: white solid 2px;
                    color: white;
                    background-color: var(--main-bg-color);
                }

                @media (max-width: 990px) {
                    .box-wrap {
                        width: 22vw;
                        padding-bottom: 5px;
                    }

                    .box-img {
                        height: 25vh;
                    }
                }

                @media (max-width: 750px) {
                    #service-boxes-wrap {
                        flex-direction: column;
                        row-gap: 40px
                    }

                    .box-img {
                        height: 25vh;
                    }

                    .bg-text {

                        font-size: 7em;
                    }

                    .box-wrap {
                        width: 70vw;
                    }

                    .shosai-btn {
                        padding: 2px 10px;
                        margin-bottom: 15px;
                        font-size: .7em;
                        width: 80px;
                    }

                    #box-img-unso {
                        background-size: 100% auto;
                        background-position: center;
                    }

                }

                @media (max-width: 360px) {

                    .bg-text {
                        font-size: 6em;
                    }

                }

                /* news container */
                #news-container {
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 50px 0;

                }

                #bg-text-right {
                    color: var(--light-gray-color);
                    margin-left: auto;

                }

                #news-content-wrap {
                    background-color: var(--light-green-color);
                    width: 60vw;
                    margin-top: 5%;
                    padding: 20px 0;
                }

                #btn-news {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--main-bg-color);
                    width: 120px;
                    padding: 10px 20px;
                    text-decoration: none;
                    margin-left: 50%;
                    position: relative;
                    top: -20px;
                    z-index: 2;
                }

                #btn-news:hover {
                    background-color: #4fa476;
                }

                #btn-news img {
                    height: 20px;
                    padding-right: 15px;
                }

                #btn-news>p {
                    color: white;
                    font-size: .8em;
                }


                /* news list coming from api */
                .createDivForListWrap {
                    background-color: var(--light-green-color);
                    height: fit-content;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                }

                .createDivForListWrap {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: 10%;
                }

                .createDivForDateLabelWrap {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .createPForTime {
                    padding: 10px 20px;
                }

                .createDivForNew {
                    background-color: var(--main-bg-color);
                    color: white;
                    width: 90px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 5%;
                    line-height: 20px;
                    font-size: .7em;
                }

                .createDivForEmpty {
                    color: var(--light-green-color);
                    width: 90px;
                    margin-left: 5%;
                }

                .createaFortitleOfArticle {
                    color: black;
                    margin-left: 5%;
                }

                @media (max-width: 990px) {
                    .createDivForNew, .createDivForEmpty {
                        width: 70px;
                        font-size: .6em;
                    }

                    .createaFortitleOfArticle {
                        font-size: .8em;
                    }
                }

                @media (max-width: 750px) {

                    #btn-news {
                        width: 100px;
                    }

                    #btn-news img {
                        height: 15px;
                        padding-right: 10px;
                    }

                    #btn-news>p {
                        font-size: .7em;
                    }

                    #news-content-wrap {
                        width: 80vw;
                    }

                    .createDivForListWrap {
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-left: 0;
                        padding-bottom: 30px;
                    }

                    .createDivForDateLabelWrap {
                        width: 100%;
                        justify-content: space-evenly;
                    }

                    .createaFortitleOfArticle {
                        margin: 0 auto;
                        font-size: .9em;
                    }
                }

                @media (max-width: 380px) {
                    #btn-news {
                        width: 100px;
                        padding: 10px 15px;
                        margin-left: 40%;
                    }
                }

                /* recruit container */
                #recruit-container {
                    display: flex;
                    flex-direction: column;
                    background-color: var(--light-gray-color);
                    align-items: center;
                    padding: 50px 0;
                }

                .recruit-wrap {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    padding: 50px 0;
                }

                .recruit-wrap img {
                    height: auto;
                    width: 40%;
                }

                #recruit-rightbox {
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                #recruit-rightbox p {
                    font-size: .7em;
                }

                #btn-recruit {
                    padding: 5px 20px;
                    margin-top: 10%;
                }


                @media (max-width: 750px) {
                    .recruit-wrap {
                        display: flex;
                        flex-direction: column;
                    }

                    .recruit-wrap img {
                        height: auto;
                        width: 80vw;
                    }

                    #recruit-rightbox {
                        width: 80vw;
                        padding-top: 20px;
                    }
                }

                @media (max-width: 300px) {
                    #recruit-container>p {
                        font-size: 5em;
                    }
                }


                /* footer */
                #footer-img-wrap {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: white;

                }

                #footer-img-wrap img {
                    height: 30px;
                }

                #footer-wrap {
                    background-color: var(--main-bg-color);
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 50px;
                }

                #footer-top {
                    display: flex;
                    flex-direction: row;
                }

                #footer-logo-wrap {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 25%;
                    padding-left: 20px;
                    padding-top: 50px;
                }

                #footer-logo-wrap p {
                    color: white;
                    padding-left: 10px;
                    line-height: 30px;
                }

                #footer-logo {
                    height: 30px;
                    width: 30px;

                }

                #footer-menu-wrap {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    width: 80%;
                    padding-top: 55px;
                }

                .footer-menu {
                    color: white;
                    font-size: .7em;
                }

                #footer-jigyo-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                }

                #footer-jigyo-sub-wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-evenly;
                }

                #white-line {
                    background-color: white;
                    height: 2px;
                    width: 90%;
                    margin: 2% auto;
                }

                #footer-bottom {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-evenly;
                }

                #footer-shozaichi {
                    color: white;
                    text-align: center;
                    padding: 40px;
                }

                .address-wrap {
                    display: flex;
                    flex-direction: column;
                }

                .address-wrap p {
                    color: white;
                    font-size: .8em;
                    padding: 1px 0;
                }

                .addressName-wrap {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .addressName-wrap img {
                    height: 15px;
                    padding-right: 5px;
                }

                .addressName-wrap p {
                    font-size: .9em;
                }

                #licencedWrap {
                    background-color: var(--main-bg-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px 0;
                }

                #licencedWrap p {
                    color: white;
                }

                @media (max-width: 990px) {
                    #footer-logo-wrap p {
                        font-size: .8em
                    }

                    #footer-logo {
                        height: 20px;
                        width: 20px;
                    }

                    .address-wrap p {
                        font-size: .9em;
                    }
                }

                @media (max-width: 900px) {
                    .address-wrap p {
                        font-size: .7em;
                    }
                }

                @media (max-width: 750px) {
                    .address-wrap p {
                        font-size: .9em;
                    }

                    #footer-logo-wrap {
                        width: 80vw;
                        padding: 30px 0 0 0;
                    }

                    #footer-logo-wrap p {
                        font-size: 1.3em;
                    }

                    #footer-menu-wrap {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 90vw;
                        padding-top: 30px;
                    }

                    #footer-menu-wrap a, #footer-jigyo-wrap a {
                        font-size: .9em;
                    }

                    #footer-jigyo-wrap {
                        align-items: center;
                    }

                    #footer-jigyo-sub-wrap {
                        align-items: center;
                    }

                    #footer-top {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 30px;
                    }

                    #white-line {
                        padding: 30px auto;
                    }

                    #footer-shozaichi {
                        padding-top: 40px;
                    }

                    #footer-bottom {
                        flex-direction: column;
                    }

                    #footer-bottom {
                        display: flex;
                        row-gap: 50px;
                        width: fit-content;
                        margin: 0 auto;
                        padding: 10px;
                    }
                }